#p5Container {
  padding: 0px;
  margin-top: 60px;
}
#p5Canvas {
  text-align: center;
}
.sandstone {
  background-color: rgba(215, 205, 166, 200);
}
.mudstone {
  background-color: rgba(156, 154, 143, 200);
}
.gravelstone {
  background-color: rgba(252, 180, 172, 200);
}
.limestone {
  background-color: rgba(120, 170, 170, 200);
}
.tuffstone {
  background-color: rgba(200, 200, 200, 200);
}
.loam {
  background-color: rgba(112, 58, 21, 200);
}
.other {
  background-color: rgba(0, 0, 0, 200);
}
