 body {
     padding: 0;
     margin: 0;
     position: fixed;
     font-size: 16px;
     width: 100vw;
     height: 100vh;
 }

 .upper-bar {
     height: 10vh;
 }

 .upper-bar-content {
     height: 100%
 }

 .simuation-title {
     padding: 0;
 }

 /*#p5Canvas {
     height: 90vh;
 }

/* p5Canvasを画面全体に表示 */
#p5Canvas {
    width: 100vw; /* ビューポートの幅を100%に */
    height: 100vh; /* ビューポートの高さを100%に */
}


 #mainSpectrumGraphParent {
     height: 80vh;
     display: none;
 }

 #color {
     height: 10vh;
     font-size: 16px;
 }


 .color-display {
     height: 5vh;
 }