@charset "utf-8";

// それぞれの凡例の色
$sandstone-color: #d7cda6;
$mudstone-color: #9c9a8f;
$gravelstone-color: #fcb4ac;
$limestone-color: #78aaaa;
$tuffstone-color: #c8c8c8;
$loam-color: #703a15;
$other-color: #000000;

#p5Container {
  padding: 0px;
  margin-top: 60px;
  #p5Canvas {
    text-align: center;
  }
  #legendOffCanvas {
    ul {
      list-style: none;
      li {
        padding: 5px 0;
        div {
          float: left;
          &:nth-child(1) {
            width: 80%;
          }
          &:nth-child(2) {
            width: 20%;
          }
        }
      }
    }
  }
  .sandstone {
    background-color: $sandstone-color;
  }
  .mudstone {
    background-color: $mudstone-color;
  }
  .gravelstone {
    background-color: $gravelstone-color;
  }
  .limestone {
    background-color: $limestone-color;
  }
  .tuffstone {
    background-color: $tuffstone-color;
  }
  .loam {
    background-color: $loam-color;
  }
  .other {
    background-color: $other-color;
  }
}
