#p5Canvas {
    height: 90vh;
}

#spectrumGraphParent,
#graph2 {
    height: 40vh;
}

#graph2 {
    background-color: rgb(187, 187, 24);
}

#color {
    height: 10vh;
}

.color-display {
    height: 5vh;
}