#colBox {
    height: 45%;
}

#plotGraphParent {
    height: 80%;
}

#plotGraph {
    height: 100%;
}

#p5Canvas {
    height: 45%;
}

#test {
    height: 45%;
}

#scaleRange {
    width: 75%;
}

#realTimeGraphParent {
    position: relative;
    height: 45%;
}

#dataRegister {
    top: 10%;
}

#realTimeValue {
    top: 55%;
}