#p5Canvas {
    width: fit-content;
    float: left;
}

#graph {
    width: 33.333vw;
    float: left;
}


#upperGraphParent,
#lowerGraphParent {
    height: 40vh;
}

.btn{
    height:4vh;
    margin-top: 1vh;
}